.footer {
    position: relative;
    bottom: 40px;
}
hr {
    color: #072047;
    width: 80%;
    height: 1px;
}
.footer_text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 150px;
}
.footer_text_p , .footer_text_p2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}
.footer_text_p2 {
    margin-left: 850px;
}